html {
    font-family: Helvetica;
}

label {
    margin-left: 15px;
}

input {
    margin-left: 5px;
}

button {
    margin-left: 30px;
}

.container {
    height: auto;
    width: 80%;
    min-width: 750px;
    margin: 0 auto;
    border: 1px solid black;
}

.search {
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: baseline;
}

.search > * {
    margin-top: 50px;
}

.content__streams {
    position: relative;
    display: flex;
    flex-direction: column;
}

.stream {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.stream:hover {
    background: #f6f6f6;
}

.stream__image {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px #444;
}

.stream__info {
    margin-left: 20px;
    width: 500px;
}

.stream__info-header {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.stream__info-description {
    margin-top: 5px;
    padding: 5px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.content__header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.pages {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pages > * {
    display: inline-block;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid grey;
    margin-left: 8px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid grey;
    margin-right: 8px;
}

.arrow-left:hover {
    border-right: 8px solid #ccc;
}

.arrow-right:hover {
    border-left: 8px solid #ccc;
}

.warning {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: calc(50% - 100px);
    width: 250px;
    height: 100px;
    background: white;
    border: 1px solid black;
}
